{% extends "base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            {% if sent %}
            <h1 class="mb-4">E-mail successfully sent</h1>
            <p>
                "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
            </p>
            {% else %}
            <h1 class="mb-4">Share "{{ post.title }}" by e-mail</h1>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Send e-mail</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
